* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.body {
    font-family: "Montserrat";
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    position: relative;
    background: url(/images/background1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.star2 {
    position: absolute;
    background-size: auto;
    transform: translate(-57px, 94px);

}

.star3 {
    position: absolute;
    background-size: auto;
    transform: translate(36px, 69px);
}

.star4 {
    position: absolute;
    background-size: auto;
    transform: translate(1013px, 568px);
}

.star5 {
    position: absolute;
    background-size: auto;
    transform: translate(948px, 538px);
}

.vector {
    position: absolute;
    background-size: auto;
    right: 0;
}

.main-page__content {
    max-width: 769px;
    padding-bottom: 48px;

}

.main-page__title {
    padding-top: 196px;
    padding-bottom: 24px;
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;

}

.main-page__text {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;

}

.bold-text {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;


}

.go, .play {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 24px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    width: 247;
    height: 66;
    gap: 10px;
    opacity: 1;
    border-radius: 60px;
    border-width: 1px;
    padding-top: 16px;
    padding-right: 28px;
    padding-bottom: 16px;
    padding-left: 28px;
    background: #202027;
    border: 1px solid #202027;
    text-decoration: none;
}

.go:hover, .play:hover {
    color: black;
    background: #FFFFFF;
    transition: 1s;
    cursor: pointer;


}
.game-scroll {
position: absolute;
left: 0;
right: 0;
    background: #BCEC30;
border-width: 1px;
padding-top: 27px;
padding-right: 49px;
padding-bottom: 27px;
padding-left: 49px;
opacity: 1;
overflow-x: auto; 
  overflow-y: hidden; 
  white-space: nowrap;
 margin-top: 250px;

}
.game-item {
    font-family: "Montserrat";
font-weight: 700;
font-style: Bold;
font-size: 30px;
line-height: 110.00000000000001%;
letter-spacing: 4%;
vertical-align: middle;
text-transform: uppercase;
margin-left: 51px;
margin-right: 51px;

}
.games {
    position: relative;
    background: #202027;
    background-image: url(/images/Star1.png);
    background-repeat: no-repeat;
    background-position: right 0 top 100px;
}

.star11 {
    position: absolute;
    background-size: auto;
    transform: translate(-70px, 780px);
}

.star12 {
    position: absolute;
    background-size: auto;
    transform: translate(-50px, 810px);
}

.about-games {
    padding-top: 94px;
    padding-bottom: 72px;
}

.about-games__title {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #FFFFFF;

}

.about-games__description {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #FFFFFF;
    padding-top: 24px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(auto, max-content);
    gap: 32px;
    align-items: flex-start;


}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: white;
    border-radius: 30px;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: flex-start;


}

.card:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);

}

.card__image {
    border-radius: 30px;

}

.card-content {
    display: flex;
    flex-basis: auto;
    gap: 16px;
    flex-direction: column;
    box-sizing: border-box;
    background: white;
    padding: 32px;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 365px;
}

.game-number {
    opacity: 1;
    border-radius: 52.58px;
    padding: 8px 16px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    letter-spacing: 0px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    cursor: pointer;
}

.game-title {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;

}

.mini-games {
    position: relative;
    background: #202027;

}

.star6 {
    position: absolute;
    background-size: auto;
    transform: translate(1200px, 190px);

}

.star7 {
    position: absolute;
    background-size: auto;
    transform: translate(1180px, 130px);
}

.star8 {
    position: absolute;
    background-size: auto;
    transform: translate(1200px, 3190px);
}

.star10 {
    position: absolute;
    background-size: auto;
    transform: translate(1150px, 3230px);
}

.mini-games__title {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #FFFFFF;
    padding-top: 96px;
    padding-bottom: 72px;
}

.cards-big {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 144px;

}

.card-big {
    max-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    background-color: white;
    border-radius: 60px;
    box-sizing: border-box;

}

.card-big-content {
    padding: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.card-big__title {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    padding-bottom: 24px;

}

.card-big__description {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
    padding-bottom: 36px;
    max-width: 504px;

}

.big-card__image {
    flex: 1 1 50%;
    overflow: hidden;

}

.footer {
    background: #BDED35;
    max-height: 150px;
}
.footer__text {
    font-family: "Montserrat";
font-weight: 600;
font-size: 24px;
line-height: 100%;
letter-spacing: 0px;
text-align: center;
vertical-align: middle;
padding: 60px;
}